@model IEnumerable<Carros_Full.Modelo>

@{
    ViewBag.Title = "Index";
}

<h2>Modelo y compañia</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compañia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechacreada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.compañia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechacreada)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
